<div class="container marketing mt-5">

    <!-- START THE FEATURETTES -->

    <div class="row featurette">
        <div class="col-md-5">
            <img src="../../assets/people1.jpg" alt="work" class="img-thumbnail">

        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading text-info text-center ">¿Quienes somos?</h2>
            <p class="lead text-justify p-2  ">BackStartup es un emprendimiento latinoamericano que está a la vanguardia de la <span class="text-info">transformación digital de la industria legal y contable.</span> </p>
            <p class="lead text-justify p-2  ">Iniciamos operaciones en 2014 en Colombia y nos expandimos al mercado mexicano en julio de 2016. Actualmente contamos con más de 1,000 empresas dadas de alta en nuestra plataforma y cerca de 300 compañías premium de múltiples industrias.</p>
            <p class="lead text-justify p-2  ">BackStartup es un emprendimiento latinoamericano que está a la vanguardia de la <span class="text">transformación digital de la industria legal y contable.</span> </p>

        </div>

    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img src="../../assets/people2.jpg" alt="work" class="img-thumbnail rounded-circle" width="140" height="140">
            <h2 class="featurette-heading text-info text-center">Chief Technology Officer </h2>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img src="../../assets/people3.jpg" alt="work" class="img-thumbnail rounded-circle" width="140" height="140">
            <h2 class="featurette-heading text-info text-center">Chief Executive Officer</h2>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center">
            <img src="../../assets/people4.jpg" alt="work" class="img-thumbnail rounded-circle" width="140" height="140">
            <h2 class="featurette-heading text-info text-center">Chief Operations Officer</h2>

            <p><a class="btn btn-primary    " href="#" role="button">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


</div>